@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
    font-family: Roboto;
    
}
/*!Html Codes */ 
html{
    overflow-x: hidden;
    scroll-padding-top: 90px;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 8px;
    background-color: white;

}

html::-webkit-scrollbar-tracks{
    background-color: transparent;
    
}

html::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: black;
    
}

body{
    background-color: antiquewhite;
}
section{
    padding: 30px 7%;
}
.heading{
    color: black;
    font-size: 40px;
    margin-bottom: 35px;
    border-bottom: 1px solid;

}
.search-input{
    font-size: 16px;
    color: black;
    padding: 10px;
    text-transform: none;
    border-radius: 30px;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    background-color: #ff6e00;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.7;
}

/*!Header Start */

.header .search-form{
    position: absolute;
    top: 15%;
    right: 7%;
    background-color: white;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px 2px rgba(0 0 0 / 75%) ;
    transform: scaleY(0);
}

.header .search-form.active{
   transform: scale(1);
 }

.header .search-form i{
   cursor: pointer;
   font-size: 22px;
   margin-right: 15px;
   color: black;
}

.header .search-form input{
    width: 100%;
 }



.logo{
    font-size: 30px;
}

.header{
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    height: 90px;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
}

.navbar a{
    margin: 0 10px;
    font-size: 16px;
    color: white;
}
.active{
    background-color: #ff6e00;
    padding: 3px 3px 5px 3px;    
}
.navbar a:hover{
    background-color: #ff6e00;
    padding: 3px 3px 5px 3px;
    border-radius: 2px;
}

.buttons button{
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
    background-color: transparent;
}

.header .cart-item-container{
    position: absolute;
    top: 12%;
    height: calc(100vh-90px);
    width: 350px;
    background-color: white;
    box-shadow: 0px 20px 147px 0px rgba(0 0 0/ 75%);
    right: -100%;
}

.header .cart-item-container.active{
    right: 30px;
}

.header .cart-item-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.header .cart-item-container .cart-item:hover{
    box-shadow: 0px 0px 10px 0px rgba(0 0 0/ 75%);
}

.header .cart-item-container .cart-item .fa-times{
   position: absolute;
   top: 10px;
   right: 15px;
   font-size: 20px;
   cursor: pointer;
   color: black;
}

.header .cart-item-container .cart-item img{
    height: 70px;

}

.header .cart-item-container .cart-item .content h3{
    font-size: 20px;
    color: black;
    padding-bottom: 5px;

}

.header .cart-item-container .cart-item .content .price{
    font-size: 15px;
    color: black;

}

.header .cart-item-container .btn{
    width: 100%;
    text-align: center;
    border-radius: unset;
}

.header .user-sign-in{
    display: flex;
    position: absolute;
    top: 12%;
    height: calc(100vh-90px);
    width: 700px;
    background-color: white;
    box-shadow: 0px 20px 147px 0px rgba(0 0 0/ 75%);
    right: -100%;
    gap: 15px;

}

.header .user-sign-in.active{
    right: 30px;
}

.header .user-sign-in .btn{
    width: 60%;
    text-align: center;
    border-radius: unset;
}

.header .user-sign-in .sign-in{
    position: relative;
    display: block;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-right: 1px solid;
}



.header .user-sign-in .sign-up{
    position: relative;
    display: block;
    align-items: center;
    gap: 15px;
    padding: 15px;
}


.header .user-sign-in i{
    color: black;
    font-size: 20px;
    padding-left: 10px;
    
}

.header .user-sign-in input{
    width: 70%;
    padding: 20px;
    margin-left: 10px;
    font-size: 17px;
    color: black;
    text-transform: none;
    background-color: transparent;
}

.header .user-sign-in .inputBox{
    display: flex;
    align-items: center;
    margin: 20px 0;
    border:#ff6e00
}



/*!Header End */

/*!kampanyalar Start */
    .kampanya{
        display: block;
        padding: 60px;
    }

    .kampanyalar{
        min-height: 100vh;
    }
    .kampanyalar .content{
        max-width: 60px;
    }

/*!kampanyalar End */

/*!Ürünlerimiz Start */


    .Ürünlerimiz .box-container{
   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 15px;
    }
    .Ürünlerimiz .box-container .box img{
        width: 100%;
        object-fit: cover;

    }
    .Ürünlerimiz .box-container .box{
        padding: 30px;
        background-color: hotpink;
        border-radius: 30px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .Ürünlerimiz .box-container .box .ürün-kategori{
        font-size: 14px;
    }

    .Ürünlerimiz .box-container .box h3{
        font-size: 30px;
        padding: 10px 0;
    }

    .Ürünlerimiz .box-container .box .price{
        font-size: 25px;
        padding: 5px 0;
    }
    .Ürünlerimiz .box-container .box .price span{
        font-size: 20px;
        text-decoration: line-through;
    }

/*!Ürünlerimiz End */

/* İletişim start*/
    .iletişim .row{
        display: flex;
        background-color:darkkhaki;
        flex-wrap: wrap;
        gap: 15px;
    }

    .iletişim .row .map{
        flex: 1 1 450px;
        width: 100%;
        object-fit: cover;
    }
    .iletişim .row form{
        flex: 1 1 450px;
        padding: 50px 20px;
        text-align: center;
 }

 .iletişim .row form h3{
    font-size: 35px;

}

.iletişim .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 20px 0;
    border:#ff6e00
    
}

.iletişim .row form .inputBox i{
    color: chartreuse;
    font-size: 20px;
    padding-left: 20px;
    
}

.iletişim .row form .inputBox input{
    width: 100%;
    padding: 20px;
    font-size: 17px;
    color: blue;
    text-transform: none;
    background-color: transparent;
    
}

/* İletişim end*/

/* Hakkımızda start*/

.Hakkımızda .content .yazı{
    color: black;
}

.Hakkımızda .content .diger{
    border-bottom: 1px solid;
    padding-top: 15px;
}

.Hakkımızda .content .ilkbaslik{
    border-bottom: 1px solid;
}
    
/*Hakkımızda end*/

/* Footer start*/

    .footer{
        background-color: black;
        text-align: center;
    }

    .footer .search{
        display: flex;
        justify-content: center;
    }

    .footer .search .search-input{
        width: 300px;
    }

    .footer .search .btn-primary{
        background-color: red;
        padding: 10px 20px;
        margin-left: 10px;
    }

    .footer .share {
        padding: 20px 0;

    }

    .footer .share a{
       width: 50px;
       height: 50px;
       line-height: 50px;
       color: white;
       font-size: 20px;
       border: yellow;
       border-radius: 50%;
       margin: 3px;


    }

    .footer .share a:hover{
        background-color: red;
 
     }

     .footer .links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
     }
     
     .footer .links a{
        background-color: red;
        padding: 7px 20px;
        color: white;
        font-size: 20px;
        border-color: #ff6e00;
     }

     .footer .links a:hover{
        background-color: black;
        opacity: 0,7;
     }
     
     .footer .links .active{
        background-color: black;
        opacity: 0,7;
     }

     .footer .credit{
        font-size: 20px;
        color: white;
        font-weight: 300;
        padding-top: 15px;
     }

     .footer .credit span{
        color: red;
     }

/*Footer end*/

/*Responsive start */
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 15px 20px;
    }
    .header .logo img{
        height: 70px;
    }
    section{
        padding: 20px;
    }
    .ürünlerimiz .box-container .box .box-head h3{
        font-size: 34px;
    }

}

@media (max-width:768px){
    
}